@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	/* Mocha Theme - Dark */
	--color-mocha-rosewater: oklch(0.91 0.118 7.169);
	--color-mocha-flamingo: oklch(0.87 0.132 5.182);
	--color-mocha-pink: oklch(0.87 0.198 358.62);
	--color-mocha-mauve: oklch(0.82 0.17 313.3);
	--color-mocha-red: oklch(0.8 0.2 14.75);
	--color-mocha-maroon: oklch(0.82 0.157 6.089);
	--color-mocha-peach: oklch(0.84 0.158 25.843);
	--color-mocha-yellow: oklch(0.89 0.138 79.42);
	--color-mocha-green: oklch(0.84 0.158 142.75);
	--color-mocha-teal: oklch(0.87 0.117 181.6);
	--color-mocha-sky: oklch(0.85 0.141 202.96);
	--color-mocha-sapphire: oklch(0.8 0.118 222.05);
	--color-mocha-blue: oklch(0.81 0.185 239.58);
	--color-mocha-lavender: oklch(0.83 0.111 270.69);
	--color-mocha-text: oklch(0.97 0.01 253.82);
	--color-mocha-subtext0: oklch(0.87 0.06 253.86);
	--color-mocha-subtext1: oklch(0.77 0.05 253.86);
	--color-mocha-overlay0: oklch(0.63 0.04 253.86);
	--color-mocha-overlay1: oklch(0.54 0.03 253.86);
	--color-mocha-overlay2: oklch(0.46 0.03 253.86);
	--color-mocha-surface0: oklch(0.38 0.02 253.86);
	--color-mocha-surface1: oklch(0.32 0.02 253.86);
	--color-mocha-surface2: oklch(0.26 0.01 253.86);
	--color-mocha-base: oklch(0.2 0.01 253.85);
	--color-mocha-mantle: oklch(0.17 0.01 253.85);
	--color-mocha-crust: oklch(0.14 0.01 253.85);

	/* Latte Theme - Light */
	--color-latte-rosewater: oklch(0.89 0.06 19.9);
	--color-latte-flamingo: oklch(0.84 0.11 11.3);
	--color-latte-pink: oklch(0.83 0.16 357.9);
	--color-latte-mauve: oklch(0.74 0.15 310.9);
	--color-latte-red: oklch(0.71 0.19 16.4);
	--color-latte-maroon: oklch(0.7 0.13 4.4);
	--color-latte-peach: oklch(0.78 0.14 36.9);
	--color-latte-yellow: oklch(0.87 0.11 85);
	--color-latte-green: oklch(0.74 0.13 142.4);
	--color-latte-teal: oklch(0.75 0.09 182.1);
	--color-latte-sky: oklch(0.77 0.11 211.9);
	--color-latte-sapphire: oklch(0.68 0.1 225.8);
	--color-latte-blue: oklch(0.72 0.15 257.5);
	--color-latte-lavender: oklch(0.74 0.1 285.3);
	--color-latte-text: oklch(0.33 0.01 256);
	--color-latte-subtext0: oklch(0.45 0.015 256);
	--color-latte-subtext1: oklch(0.55 0.017 256);
	--color-latte-overlay0: oklch(0.65 0.02 256);
	--color-latte-overlay1: oklch(0.75 0.022 256);
	--color-latte-overlay2: oklch(0.85 0.025 256);
	--color-latte-surface0: oklch(0.9 0.02 256);
	--color-latte-surface1: oklch(0.92 0.018 256);
	--color-latte-surface2: oklch(0.94 0.016 256);
	--color-latte-base: oklch(0.97 0.013 256);
	--color-latte-mantle: oklch(0.98 0.012 256);
	--color-latte-crust: oklch(0.99 0.01 256);

	/* dark mode */
	--color-dmb: var(--color-mocha-base);
	--color-dsb: var(--color-mocha-surface1);
	--color-dtb: var(--color-mocha-surface2);
	--color-dmt: var(--color-mocha-text);
	--color-dst: var(--color-mocha-subtext1);

	/* light mode */
	--color-lmb: var(--color-latte-base);
	--color-lsb: var(--color-latte-surface1);
	--color-ltb: var(--color-latte-surface0);
	--color-lmt: var(--color-latte-text);
	--color-lst: var(--color-latte-subtext1);
}

:root {
	--color-club: var(--color-latte-green);
	--color-diamond: var(--color-latte-peach);
	--color-heart: var(--color-latte-red);
	--color-spade: var(--color-latte-sapphire);
}
[data-theme='dark'] {
	--color-club: var(--color-mocha-green);
	--color-diamond: var(--color-mocha-peach);
	--color-heart: var(--color-mocha-red);
	--color-spade: var(--color-mocha-sapphire);
}

body {
	@apply min-h-screen min-w-screen grid grid-cols-3 grid-rows-2 place-items-center;
}
body {
	@apply text-2xl font-medium;
}
body {
	@apply bg-lmb dark:bg-dmb text-lmt dark:text-dmt;
}
